@model IEnumerable<Web_Programming_Assignment_2021.Models.Post>

@{ Layout = "_UserLayout"; }


<link href="/Catstagram/User/css/profile.css" rel="stylesheet">


<div class="gallery">
    @foreach (var item in Model)
    {
<div class="gallery-item" tabindex="0">
    <div class="gallery-item-author">
        <img class="author-photo" src="~/Catstagram/User/images/">
        @if (item.PhotoFile == null)
        {
<img src="~/Catstagram/User/images/noavatar.png" alt="image not found" width="50" height="50"> }
                else
                {
<img src="~/Catstagram/User/images/avatars/@item.PostId.ToString()/@item.PhotoFile" width="50" height="50" />                }
        <div class="author-nikname">@item.User.Username</div>
        <p class="publication-time">@item.User.</p>
    </div>
    <div class="gallery-item-post">
        <img src="~/Catstagram/User/images/posts/@item.PostId.ToString()/@item.PhotoFile" class="gallery-image">

    </div>
</div>}

</div>

<a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

<script src="~/Catstagram/User/script/main.js"></script>
<script src="~/Catstagram/User/script/profile.js"></script>


@RenderSection("Scripts", required: false)
