@{ Layout = "_UserLayout"; }
<link href="/Catstagram/User/css/profile.css" rel="stylesheet">
<div class="container">

    <div class="profile">

        <div class="profile-image">

            <img class="user-photo" src="" alt="">

        </div>

        <div class="profile-user-settings">

            <h1 class="profile-user-name"></h1>

            <button class="btn profile-edit-btn">Edit Profile</button>

            <button class="btn profile-settings-btn" aria-label="profile settings"><i class="fas fa-cog" aria-hidden="true"></i></button>

        </div>
        <div class="profile-bio">
            <p><span class="profile-real-name">Jane Doe</span> Lorem ipsum dolor sit, amet consectetur adipisicing elit 📷✈️🏕️</p>
        </div>
    </div>
    <!-- End of profile section-->
</div>
<div class="gallery">

    <div class="gallery-item" tabindex="0">
        <div class="gallery-item-author">
            <img class="author-photo" src="">
            <div class="author-nikname"></div>
            <p class="publication-time"></p>
        </div>
        <div class="gallery-item-post">
            <img src="" class="gallery-image" alt="">

            <div class="gallery-item-info">

                <ul>
                    <li class="gallery-item-likes"><span class="visually-hidden">Likes:</span><i class="fas fa-heart" aria-hidden="true"></i> 56</li>

                </ul>

            </div>
        </div>
    </div>
</div>
